* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    width: 100%;
}

nav {
    height: 50px;
    background-color: #212121;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu-link {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}

.menu .menu-item {
    border-right: 2px dotted #000;
    padding-right: 28px;
}

.subheader {
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0, 0, .6);
}

.subheader .subheader-logo {
    display: block;
    min-width: 100%;
    margin-top: 16px;
}

.subheader .subheader-official {
    margin-top: 6px;
    color: #fff;
    opacity: .5;
    font-size: 13px;
    font-weight: 400;
}

.subheader .subheader-call {
    margin-top: 20px;
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    text-align: right;
}

.subheader .subheader-phone {
    display: block;
    color: #fff;
    margin-top: 8px;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 12px;
}

.subheader .subheader-btn {
    margin-top: 20px;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo {
    min-height: 800px;
    background: url(/src/img/backgrounds/main-bg.jpg) center center/cover no-repeat;
    padding: 150px 0 135px 0;
}

.promo .promo-header {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 60px;
    text-align: center;
}

.promo .promo-subheader {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px;
    margin-top: 22px;
    text-align: center;
}

.promo .promo-descr {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 23px;
    text-align: center;
}

.promo .promo-btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.reasons {
    margin-top: 70px;
}

.label {
    width: 112px;
    height: 24px;
    text-transform: uppercase;
    margin: 0 auto;
    background-color: #000000;
    color: #fff;
    font-weight: 100;
    font-size: 11px;
    text-align: center;
    line-height: 24px;
}

.title {
    margin-top: 33px;
    color: #222222;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
}

.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    margin-top: 25px; 
}

.features .features-img {
    width: 113px;
    height: 113px;
    border-radius: 100%;
    background-color: #1EACC7;
    text-align: center;
    line-height: 113px;
}

.features .features-text {
    width: 370px;   
    color: #202020;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
}

.features .features-head {
    color: #1EACC7;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
}

